buildcpu/
buildgpu/
care-cpu
care-gpu
care-cpu-debug
care-gpu-debug
forests/*.so
.CUB_INCDIR
.CUDA_DIR
.PREFIX
.THRUST_INCDIR
evaluationtool/arteval
evaluationtool/artevalsmallercorrected

#editors
.vscode
